@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* body {
        background-color: #f7f8fe;

        display: flex;
        padding: 1rem;
        height: 100vh
    } */

    .container {
        @apply max-w-[1440px] lg:max-w-[976px] md:max-w-[768px] sm:max-w-[480px];
    }

    
}

.mother-container {
    background-color: white;

    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
    align-content: center;
    /* height: 100vh; */
}

