@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* body {
        background-color: #f7f8fe;

        display: flex;
        padding: 1rem;
        height: 100vh
    } */

    .container {
        @apply max-w-[1440px] lg:max-w-[976px] md:max-w-[768px] sm:max-w-[480px];
    }

    
}

.mother-container {
    background-color: #f7f8fe;

    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
    align-content: center;
    /* height: 100vh; */
}

.th,
.td {
    padding: 1rem
}


.WaveTop {
    position: absolute;
    top: -21%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.WaveTop img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.WaveTop .shape-fill {
    fill: #255CFF;
}

.WaveBottom {
    position: absolute;
    bottom: -21%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.WaveBottom img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.WaveBottom .shape-fill {
    fill: #255CFF;
}