@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* body {
        background-color: #f7f8fe;

        display: flex;
        padding: 1rem;
        height: 100vh
    } */

    .container {
        @apply max-w-[1440px] lg:max-w-[976px] md:max-w-[768px] sm:max-w-[480px];
    }

    
}

.mother-container {
    background-color: #f7f8fe;

    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
    align-content: center;
    /* height: 100vh; */
}

.svgUp { 
    height: 17rem;
    background-image: url('/images/svg/waveUp.svg'); 
}

.svgDown { 
    height: 9rem;
    background-image: url('/images/svg/waveDown.svg');
}

.svgUp,
.svgDown {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab__buttons {
    background-color: #2e4057;
}

.tab__buttons:hover {
    background-color: #255cff;
}

.tab__buttons--active {
    background-color: #255cff;
}

.tab__contents { display: none }
.tab__contents--active {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.paragraf__contents { display: none }
.paragraf__contents--active {
    display: flex;
    flex-direction: column;
}



